section#content {
    margin-top: 20px;
    margin-bottom: 20px;
}

input#space, #type{
    width: 200px;
    margin-right: 50px;
}

input#area, #perimeter {
    width: 100px;
}

div#inputs {
    display: flex;
}

select#listSpace {
    width: 265px;
}

div#selectPart {
    margin-left: 130px;
}
